<!doctype html>
<html>
  <head>
    <title>Pet Adoptions 'R' Us</title>
    <meta name="description" content="Puppy creation page">
  </head>
  <body style="text-align: center; background: lightseagreen;">
    <h1 style="color: chartreuse; text-decoration: underline;">Puppy Adoption Form!</h1>
    <h2>Please enter your puppy information here:</h2>
    <form method='POST' action='/'>
      <h2>Puppy name: <input type="text" name="name"><br>
      Puppy breed: <input type="text" breed="breed"><br>
      Puppy age: <input type="number" age="age"></h2>

      <input type='submit' name='submit'>
    </form>
  </body>
</html>
