<!doctype html>
<html>
  <head>
    <title>Pet Adoptions 'R' Us</title>
    <meta name="description" content="Puppy creation page">
  </head>
  <body style="text-align: center; background: lightseagreen;">
    <h1 style="color: red; text-decoration: underline;">Puppy Adoption Form!</h1>
    <h2>Please enter your puppy information here:</h2>
    <form method='POST' action='/display_puppy'>

      <input type='submit' name='submit'>
    </form>
  </body>
</html>
