<!doctype html>
<html>
  <head>
    <title>Pet Adoptions 'R' Us</title>
    <meta name="description" content="Puppy display page">
  </head>
  <body style="text-align: center;">
    Content goes here.
  </body>
</html>
