<!doctype html>
<html>
  <head>
    <title>Pet Adoptions 'R' Us</title>
    <meta name="description" content="Home page">
  </head>
  <body style="text-align: center;">
    <h1 style="color: chartreuse">Welcome to Pet Adoptions 'R' Us!</h1>
    <a href="/create_puppy" style="font-size: 20px;">Click Here To List A Puppy!</a>
  </body>
</html>
