<!doctype html>
<html>
  <head>
    <title>Our Funky HTML Page</title>
    <meta name="description" content="Our first page">
    <meta name="keywords" content="html tutorial template">
  </head>
  <body>
    <a href="/">Click Here To List A Puppy!</a>
  </body>
</html>
